/bin/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*
/UniversalElectricity/*
/tempsrc/*
/NitroModelThingy/*
/CHANGELOG
/LICENSE.txt

/src/minecraft/*
/src/minecraft_server/*
/src/common/*
!/src/common/hawksmachinery/
!/src/common/updatemanager/
!/src/minecraft/hawksmachinery/
!/src/minecraft/updatemanager/
!/src/common/buildcraft/
!/src/common/dan200/
!/src/common/obsidian/
!/src/common/universalelectricity/

*.bat
*.sh