/bin/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*
/UniversalElectricity/*
/tempsrc/*
/CHANGELOG
/LICENSE.txt

/src/minecraft/*
!/src/minecraft/hawksmachinery/

*.bat
*.sh
!PackageHM.bat